/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2"), url("../fonts/Roboto-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
