$body-background: #c4c4c4;
$header-background: #83bcc3;
$main-background: #f7f7f7;
$light-text: #ffffff;
$dark-text: #2b2b2b;
$active: #cce6e8;
$hidden: #dcdcdc;
$active-hover: #6fe2eb;
$hidden-hover: #bab5b5;
$editor-title: #315b60;

